/* ----- Footer ----- */

footer{
	background: black;
	opacity: 0.9;
	color: white;
}

.links-footer{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}

.links-footer li{
	padding: 0px 5px;
}

.social{
	display: block;
}

.devs{
	display: block;
}

.devs li{
	padding: 0px 30px;
}

.devs p{
	padding-bottom: 4px;
	margin: 0;
}